.order-btn {
  display: inline-block; //  min-width: rem(98px);
  padding: rem(10px) rem(15px);
  border-radius: rem(5px);
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 700;
  text-transform: uppercase;
  transition: .5s;
  box-shadow: inset rgba(255, 255, 255, 0.2) 2px 2px 4px 1px, inset rgba(0, 0, 0, 0.5) -2px -2px 4px 1px;
  &:hover {
    background-color: darken($orange, 12%);
  }
}

.fixed-menu {
  position: fixed;
  z-index: 20;
  right: 2%;
  top: rem(80px);
  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    @include circle(6px, #fff);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
  }
  &:hover:before {
    opacity: 1;
  }
}

.arrow__img {
  width: rem(30px);
  height: rem(15px);
  fill: #fff;
}

.cross {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  width: 22px;
  cursor: pointer;
  // z-index: 100;
  opacity: 0.7;
  @include phones {
    display: flex;
  }
  .cross__item {
    background: #fff;
    border: none;
    border-radius: 4px;
    height: 4px;
    width: 22px;
    transition: all .35s ease;
    cursor: pointer;
    &.cross__item_top {
      transform: translateY(225%) translateX(0) rotate(45deg);
      border-radius: 4px;
    }
    &.cross__item_bottom {
      transform: translateY(-225%) translateX(0) rotate(-45deg);
      border-radius: 4px;
    }
  }
}

.cross_menu {
  right: 20px;
  top: 20px;
}